.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-tittle{
    font-family: "Pixelify Sans", sans-serif;  
    
}
p{
  font-family: "Open Sans", sans-serif;
}
button{
  font-family: "Open Sans", sans-serif;
}

.hero-content {
  width: 100%;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}